<%# add navigation links to this file %>
<li><%= link_to 'Boards', boards_path %></li>
<li><%= link_to 'Pins', pins_path %></li>
<li><%= link_to 'Admin', admin_root_path %></li>
<li><%= link_to 'About', about_path %></li>